.wrapper{
  border: solid 2px blue;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
}

.wrapper input, .wrapper select {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}